.quill {
  position: relative;
  border: 1px dashed #343536;
  border-radius: 8px;
  margin: 0 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  .ql-container.ql-snow {
    border: none;
    min-height: 100px;
  }
  .ql-toolbar.ql-snow {
    border: none;
    height: 50px;
  }
  .ql-toolbar {
    position: sticky;
    background-color: #232324;
    z-index: 10;
    border: none;
  }
}
.entry-content {
  margin-bottom: auto;
  height: auto;
}

.entry-content,
.entry-content .ql-snow .ql-editor {
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    line-height: 1.6;
    margin-bottom: auto;

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      margin-top: 5px;
    }
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 40px;
    margin-left: 0;
    li {
      margin-bottom: 10px;
    }
  }
  img {
    margin-bottom: 30px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(180, 180, 180, 0.858);
  color: #232324;
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 50px !important;
  background: #fae1e2 !important;
}
.Toastify__toast--error::after {
  width: 100%;
  max-width: 60px;
  height: 60px;
  content: url("./error.png"); // Your svg Path
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  width: 100%;
  max-width: 60px;
  height: 60px;
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 50px !important;
  background: #f0f9fa !important;
}
.Toastify__toast--success::before {
  width: 100%;
  max-width: 1px;
  height: 1px;
  content: url("./verify.png"); // Your svg Path
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  width: 100%;
  max-width: 1px;
  line-height: 1.6;
  height: 60px;
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: 700;
  left: 20px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  width: 100%;
  max-width: 1%;
  height: 50px;
  content: url("./warning.png"); // Your svg Path
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  width: 100%;
  max-width: 60px;
  height: 60px;
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: #444c63;
  font-size: 16px;
  line-height: 10px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 10px !important;
  div {
    color: black;
    font-weight: 500;
    line-height: 1.2;
  }
}
.Toastify__toast > button > svg {
  display: none;
}
